{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title> {% block tittle %} {% endblock %} </title>
  <!-- Bootstrap CSS v4.3.1 -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

  <!--Base CSS Link-->
  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
  <!-- Custom CSS -->
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Agregar un contenedor para limitar el ancho -->
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="{% static 'img/pirata.png' %}">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
        <!-- Utilizar justify-content-center para centrar los elementos -->
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'main' %}">Inicio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'family' %}">Inventario</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'aboutus' %}">Información</a>
          </li>
        </ul>
        <!-- Login/Sign Out Button on the Right -->
         <a class="btn btn-primary ml-auto" href="/admin/">Login Proveedor</a>
        <!-- Fin del botón de inicio de sesión -->
      </div>
    </div>
  </nav>


  <main>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <br>
          <br>
          <br>
          <br>
          <br>
          {% block content %} {% endblock %}
          <br>
          <br>
          <br>
          <br>
          <br>
        </div>
      </div>
    </div>
  </main>

  <!-- Footer -->
  <footer class="footer">
    <div class="container">
      <div class="row">
        <h1>AGAN: Multiservicios Industriales</h1>
        <h5>En Agan Multiservicios nos comprometemos a ofrecer un servicio de la mejor calidad de manera que satisfagan
          las expectativas en los proyectos que nos son confiados por nuestros clientes. Cada producto se aumenta 500 MXN por mano de obra.
          Minimo de 4 metros/cuadrados </h5>
      </div>
  </footer>
  <!-- Bootstrap JavaScript Libraries -->
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"
    integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous">
    </script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js"
    integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous">
    </script>
</body>